

.nav-container{
  
}

.logo-contain{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10%;
  padding-top: 9%;
  padding-bottom: 9%;
  background: linear-gradient(196deg, #221489, #7165c5, #cd59b0);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:63% 0%}
  50%{background-position:38% 100%}
  100%{background-position:63% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:63% 0%}
  50%{background-position:38% 100%}
  100%{background-position:63% 0%}
}
@keyframes AnimationName {
  0%{background-position:63% 0%}
  50%{background-position:38% 100%}
  100%{background-position:63% 0%}
}

.logo{
  display: block;
  margin: auto;
  width: 380px;
  opacity: 0;
}

.beast{
  opacity:0;
}